@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&family=Inter&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	scroll-behavior: smooth;
	margin: 0;
}

:root {
	--nav-height: 61px;
	--footer-height: 61px;
	--page-max-width: 650px;

	--sans: 'Space Grotesk', -apple-system, BlinkMacSystemFont, Inter, Segoe UI, Helvetica Neue,
		sans-serif;
	--mono: 'IBM Plex Mono', monospace;

	--bg-color: #0f0f0f;
	--text-color: #ffffff;
	--cta: orange;
	--cta2: #6e8c56;
	/* 0a150f */
	/* ffc475 */

	--scrollbar-size: 8px;
	--scrollbar-bg: #353535;
	--hr: #363636;

	--font-size-3: 16px;
	--line-height-3: 25px;
}

html,
body,
#__next {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: var(--sans);
}

#__next {
	/* https://www.joshwcomeau.com/css/custom-css-reset/ */
	isolation: isolate;
}

body {
	color: var(--text-color);
	background: var(--bg-color);
	font-family: var(--sans);
	background-color: #1f1f20;
	overflow: hidden;
}

a {
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 1px;
	transition: opacity 300ms ease;
}

a:hover {
	opacity: 0.75;
}

.primary a,
a.primary {
	text-decoration: none;
	font-weight: 600;
	white-space: nowrap;
}

.primary a:hover,
a.primary:hover {
	opacity: 1;
}

.primary a::after,
a.primary::after {
	content: '\00a0→';
	position: relative;
	display: inline-block;
	transition: transform 300ms ease;
}

.primary a:hover::after,
a.primary:hover::after {
	transform: translateX(3px);
}

button {
	cursor: pointer;
	appearance: none;
	border: none;
	background: none;
}

/* https://www.joshwcomeau.com/css/custom-css-reset/ */
input,
button,
textarea,
select {
	font: inherit;
}

p,
span,
a,
li,
code,
td,
kbd,
.heading {
	-webkit-font-smoothing: antialiased;
	color: inherit;
}

p,
blockquote {
	position: relative;
}

p {
	text-rendering: optimizeLegibility;
}

@media (prefers-reduced-motion) {
	.prefers-animation {
		display: none;
	}

	.prefers-no-animation {
		display: initial;
	}
}

/* Global */
p,
li {
	font-family: var(--sans);
	font-weight: 400;
	font-size: 17px;
	line-height: 1.6;
	text-rendering: optimizeLegibility;
}
/*
@media screen and (max-width: 1000px) {
	p,
	li {
		font-size: 1.2rem;
	}
} */

@media screen and (max-width: 700px) {

	p,
	li {
		font-size: 1rem;
	}
}

code:not(.line-content) {
	--code-background: #2d2d2d;
	--code-border: black;
	font-size: 14px;
	font-family: var(--mono);
	font-weight: 700;
	padding: 1px 2px;
	background: var(--code-background);
	border: 1px solid var(--code-border);
	border-radius: 3px;
}

hr {
	border: 1px solid var(--hr);
}

kbd {
	font-family: var(--mono);
}

img {
	max-width: 100%;
	height: auto;
}
